<!doctype html>
<!--suppress ALL -->
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>微电影管理系统</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" th:href="@{/base/images/logo.png}">
    <link rel="stylesheet" th:href="@{/admin/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/fonts/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/ionicons/css/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{/admin/dist/css/AdminLTE.min.css}">
    <link rel="stylesheet" th:href="@{/admin/dist/css/skins/_all-skins.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/admin/plugins/datepicker/datepicker3.css}">
    <link rel="stylesheet" th:href="@{/base/css/jquery.gritter.min.css}" type="text/css">
    <style>
        *{
            font-family:"Microsoft YaHei";
        }
        .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
            vertical-align:middle;
            text-align:center;
        }

    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <a href="javascript:void(0)" class="logo">
            <span class="logo-mini"><img th:src="@{/base/images/logo.png}"
                                         style="height:40px;width:40px;">电影系统</span>
            <span class="logo-lg"><img th:src="@{/base/images/logo.png}"
                                       style="height:40px;width:40px;">微电影管理系统</span>
        </a>
        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">下拉菜单</span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img th:src="@{/admin/dist/img/user2-160x160.jpg}"
                                 class="user-image" alt="User Image">
                            <span th:text="${session.admin.name}" class="hidden-xs"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img th:src="@{/admin/dist/img/user2-160x160.jpg}"
                                     class="img-circle" alt="User Image">
                                <p th:text="${session.admin.name}">
                                </p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="/admin/pwd-view" class="btn btn-default btn-flat">修改密码</a>
                                </div>
                                <div class="pull-right">
                                    <a onclick="loginOut()" href="javascript:void(0)" class="btn btn-default btn-flat">退出系统</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image">
                    <img th:src="@{/admin/dist/img/user2-160x160.jpg}" class="img-circle"
                         alt="User Image">
                </div>
                <div class="pull-left info">
                    <p th:text="${session.admin.name}"></p>
                    <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
                </div>
            </div>
            <ul class="sidebar-menu">
                <li class="header">管理菜单</li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-tags" aria-hidden="true"></i>
                        <span>标签管理</span>
                        <span class="label label-primary pull-right">2</span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/label/add-view">
                                <i class="fa fa-circle-o"></i> 添加标签
                            </a>
                        </li>
                        <li>
                            <a href="/label/list">
                                <i class="fa fa-circle-o"></i> 标签列表
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-file-video-o" aria-hidden="true"></i>
                        <span>电影管理</span>
                        <span class="label label-primary pull-right">2</span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/movie/add-view">
                                <i class="fa fa-circle-o"></i> 添加电影
                            </a>
                        </li>
                        <li>
                            <a href="/movie/all/1">
                                <i class="fa fa-circle-o"></i> 电影列表
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span>会员管理</span>
                        <span class="label label-primary pull-right">1</span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/user/view/1">
                                <i class="fa fa-circle-o"></i> 会员列表
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-comments" aria-hidden="true"></i>
                        <span>评论管理</span>
                        <span class="label label-primary pull-right">1</span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/evaluation/all/1">
                                <i class="fa fa-circle-o"></i> 评论列表
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                        <span>管理员管理</span>
                        <span class="label label-primary pull-right">1</span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/admin/add-view">
                                <i class="fa fa-circle-o"></i> 添加管理员
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    </aside>
    <div class="content-wrapper">
        <!--内容-->
        <section class="content-header">
            <h1>微电影管理系统</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 评论管理</a></li>
                <li class="active">评论列表</li>
            </ol>
        </section>
        <section class="content" id="showcontent">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">评论列表</h3>
                        </div>
                        <div class="box-body box-comments">
                            <div class="box-comment" th:each="evaluation:${list}">
                                <div class="comment-text">
                                    <input id="commentID" th:value="${evaluation.evaluationid}" hidden="hidden"/>
                                    <span class="username" th:text="${evaluation.name}">
                                        <span class="text-muted pull-right" th:text="${evaluation.date}">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </span>
                                    </span>
                                    关于电影《
                                    <span th:text="${evaluation.movieName}">
                                    </span>
                                    》的评论：
                                    <span th:text="${evaluation.evaluation}">

                                    </span>
                                    <br><a onclick="del()" class="label label-danger pull-right">删除</a>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer clearfix">
                            <ul class="pagination pagination-sm no-margin pull-right">
                                <li><a href="/evaluation/all//1">首页</a></li>
                                <li><a th:href="@{'/evaluation/all/'+${pageNum-1}}">上一页</a></li>
                                <li><a href="javascript:void(0)" th:text="${pageNum}"></a></li>
                                <li><a th:href="@{'/evaluation/all/'+${pageNum+1}}">下一页</a></li>
                                <li><a th:href="@{'/evaluation/all/'+${totalPageNum}}">尾页</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--内容-->
    </div>

    <div class="control-sidebar-bg"></div>
</div>
<script th:src="@{/admin/plugins/jQuery/jQuery-2.2.0.min.js}"></script>
<script th:src="@{/admin/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/admin/plugins/slimScroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/admin/plugins/fastclick/fastclick.js}"></script>
<script th:src="@{/admin/dist/js/app.min.js}"></script>
<script th:src="@{/admin/dist/js/demo.js}"></script>
<script th:src="@{//cdn.bootcss.com/holder/2.9.4/holder.min.js}"></script>
<script th:src="@{/admin/plugins/datepicker/bootstrap-datepicker.js}"></script>
<script th：src="@{/admin/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js}" charset="UTF-8"></script>
<script th:src="@{/admin/plugins/iCheck/icheck.min.js}"></script>
<script th:src="@{/base/js/jquery.singlePageNav.min.js}"></script>
<script th:src="@{/base/js/jquery.serializejson.min.js}"></script>
<script th:src="@{/base/js/jquery.gritter.min.js}"></script>
<script th:src="@{//cdn.bootcss.com/holder/2.9.4/holder.min.js}"></script>
<script th:src="@{/base/js/jquery.validate.min.js}"></script>
<script th:src="@{/base/js/bootbox.js}"></script>
<script type="text/javascript">
    function del() {
        bootbox.confirm("删除后无法恢复，确定要删除吗?", function (result) {
            if (result) {
                var id=$("#commentID").val();
                $.ajax({
                    url: "/evaluation/del/" + id,
                    dataType: 'json'
                }).then(function (success) {
                    if (success.state) {
                        successTip("删除成功");
                        setTimeout(function () {
                            top.location.href = "/evaluation/all/1";
                        },500)
                    } else {
                        errorTip("删除发生错误，请刷新后再试。");
                    }
                });
            }
        });
    }

    function loginOut() {
        $.ajax({
            url:"/admin/login-out",
            type: "post",
            dataType: "json",
            success:function (result) {
                if (result.state) {
                    successTip("退出成功！");
                    setTimeout(function () {
                        top.location.href = '/admin/login-view'
                    },1000);
                }else {
                    errorTip(result.info);
                }
            },
            error:function () {
                errorTip("退出失败！");
            }
        });
    }

    function successTip(msg){
        $.gritter.add({
            title: '提示信息',
            text: msg,
            class_name: 'gritter-success gritter-light'
        });
    }

    function errorTip(msg){
        $.gritter.add({
            title: '提示信息',
            text: msg,
            class_name: 'gritter-error gritter-light'
        });
    }

</script>
</body>
</html>