<!doctype html>
<!--suppress ALL -->
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>微电影</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" th:href="@{/admin/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/fonts/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/ionicons/css/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{/admin/dist/css/AdminLTE.min.css}">
    <link rel="stylesheet" th:href="@{/admin/plugins/iCheck/square/blue.css}">
    <link rel="stylesheet" th:href="@{/base/css/jquery.gritter.min.css}" type="text/css">
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a href=""><b>微电影管理系统</b></a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg"></p>
        <form id="login_form">
            <div class="form-group has-feedback">
                <input name="name" type="text" class="form-control" placeholder="请输入账号！">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <div class="col-md-12" id="input_user"></div>
            </div>
            <div class="form-group has-feedback">
                <input name="passworld" type="password" class="form-control" placeholder="请输入密码！">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <div class="col-md-12" id="input_pwd"></div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                </div>
                <div class="col-xs-4">
                    <a onclick="login()" id="btn-sub" type="button" class="btn btn-primary btn-block btn-flat">登录</a>
                </div>
            </div>
        </form>
    </div>
</div>
<script th:src="@{/admin/plugins/jQuery/jQuery-2.2.0.min.js}"></script>
<script th:src="@{/admin/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/admin/plugins/iCheck/icheck.min.js}"></script>
<script th:src="@{/base/js/jquery.singlePageNav.min.js}"></script>
<script th:src="@{/base/js/jquery.serializejson.min.js}"></script>
<script th:src="@{/base/js/jquery.gritter.min.js}"></script>
<script th:src="@{//cdn.bootcss.com/holder/2.9.4/holder.min.js}"></script>
<script th:src="@{/base/js/jquery.validate.min.js}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        validateLoginForm();
    });

    function validateLoginForm(){
        return $("#login_form").validate({
            errorElement: 'div',
            errorClass: 'help-block',
            focusInvalid: false,
            debug: true,
            rules: {
                name:{
                    required:true,
                },
                passworld:{
                    required:true
                }
            },
            messages:{
                name:{
                    required:"请输入账号名",
                },
                passworld:{
                    required:"请输入密码"
                }
            },
            highlight: function (e) {
                $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
            }
        });
    }

    function login() {
        if (validateLoginForm().form()){
            var data = JSON.stringify($("#login_form").serializeJSON());
            $.ajax({
                url:"/admin/login",
                type: "post",
                contentType: false,
                processData: false,
                data:data,
                contentType: 'application/json',
                dataType: "json",
                success:function (result) {
                    if (result.state) {
                        successTip("登录成功！");
                        setTimeout(function () {
                            top.location.href = '/movie/all/1'
                        },1000);
                    }else {
                        errorTip(result.info);
                    }
                },
                error:function () {
                    errorTip("登录失败！");
                }
            });
        }
    }

    function successTip(msg){
        $.gritter.add({
            title: '提示信息',
            text: msg,
            class_name: 'gritter-success gritter-light'
        });
    }

    function errorTip(msg){
        $.gritter.add({
            title: '提示信息',
            text: msg,
            class_name: 'gritter-error gritter-light'
        });
    }
</script>
</body>
</html>
