<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nsu.micromovie.dao.MovieMapper">
  <resultMap id="BaseResultMap" type="cn.edu.nsu.micromovie.model.Movie">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="time" jdbcType="INTEGER" property="time" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="score" jdbcType="DOUBLE" property="score" />
    <result column="intro" jdbcType="VARCHAR" property="intro" />
    <result column="labelid" jdbcType="INTEGER" property="labelid" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="download" jdbcType="VARCHAR" property="download" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, time, country, score, intro, labelid, img, download
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from movie
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from movie
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.nsu.micromovie.model.Movie">
    insert into movie (id, name, time, 
      country, score, intro, 
      labelid, img, download
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{time,jdbcType=INTEGER}, 
      #{country,jdbcType=VARCHAR}, #{score,jdbcType=DOUBLE}, #{intro,jdbcType=VARCHAR}, 
      #{labelid,jdbcType=INTEGER}, #{img,jdbcType=VARCHAR}, #{download,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.nsu.micromovie.model.Movie">
    insert into movie
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="intro != null">
        intro,
      </if>
      <if test="labelid != null">
        labelid,
      </if>
      <if test="img != null">
        img,
      </if>
      <if test="download != null">
        download,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=INTEGER},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=DOUBLE},
      </if>
      <if test="intro != null">
        #{intro,jdbcType=VARCHAR},
      </if>
      <if test="labelid != null">
        #{labelid,jdbcType=INTEGER},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="download != null">
        #{download,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.nsu.micromovie.model.Movie">
    update movie
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=INTEGER},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=DOUBLE},
      </if>
      <if test="intro != null">
        intro = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="labelid != null">
        labelid = #{labelid,jdbcType=INTEGER},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="download != null">
        download = #{download,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.nsu.micromovie.model.Movie">
    update movie
    set name = #{name,jdbcType=VARCHAR},
      time = #{time,jdbcType=INTEGER},
      country = #{country,jdbcType=VARCHAR},
      score = #{score,jdbcType=DOUBLE},
      intro = #{intro,jdbcType=VARCHAR},
      labelid = #{labelid,jdbcType=INTEGER},
      img = #{img,jdbcType=VARCHAR},
      download = #{download,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByFilter" parameterType="cn.edu.nsu.micromovie.Filter.MovieFilter" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from movie
    where 1=1
    <if test="movieName!=null and movieName!=''">
        and name = #{movieName,jdbcType=VARCHAR}
    </if>
    <if test="time!=null and time!=0">
      and time = #{time,jdbcType=INTEGER}
    </if>
    <if test="labelId!=null and labelId!=0">
      and labelid = #{labelId,jdbcType=INTEGER}
    </if>
    <if test="rows!=null and offset != null">
      limit #{rows,jdbcType=INTEGER},
      #{offset,jdbcType=INTEGER}
    </if>
  </select>
</mapper>