<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nsu.micromovie.dao.ScoreMapper">
  <resultMap id="BaseResultMap" type="cn.edu.nsu.micromovie.model.Score">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="moveid" jdbcType="INTEGER" property="moveid" />
    <result column="score"  jdbcType="INTEGER" property="score" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userid, moveid,score
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from score
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from score
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.nsu.micromovie.model.Score">
    insert into score (id, userid, moveid,score
      )
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{moveid,jdbcType=INTEGER},#{score,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.nsu.micromovie.model.Score">
    insert into score
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="moveid != null">
        moveid,
      </if>
      <if test="score != null">
        score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="moveid != null">
        #{moveid,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.nsu.micromovie.model.Score">
    update score
    <set>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="moveid != null">
        moveid = #{moveid,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.nsu.micromovie.model.Score">
    update score
    set userid = #{userid,jdbcType=INTEGER},
      moveid = #{moveid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="select" resultMap="BaseResultMap" parameterType="cn.edu.nsu.micromovie.model.Score">
    select
    <include refid="Base_Column_List" />
    from score
    where userid = #{userid,jdbcType=INTEGER}
    and moveid = #{moveid,jdbcType=INTEGER}
  </select>
</mapper>